version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.10.0
    steps:
      - checkout
      - run:
          name: Install JS
          command: |
            yarn install --frozen-lockfile
      - run:
          name: Test JS
          command: |
            yarn test